<div class="col-lg-8 mx-auto bg-light shadow rounded-1 p-3 mt-5">
  <%= form_with model: @task do |f| %>
    <div class="mb-1">
      <%= f.label :title, class: "form-label fs-3" %>
    </div>
    <div class="mb-1">
      <%= f.text_field :title, autofocus: true, class: "form-control bg-light", style:" text-align: center" %>
    </div>
    <%=form_errors_helper(@task,:title)%>
    <div class="mb-1">
      <%= f.label :descrition, class: "form-label fs-3"  %>
    </div>
    <div class="mb-1">
      <%= f.text_area :description, size: "50x5", class: "form-control bg-light", style:" text-align: center" %>
    </div>
    <%=form_errors_helper(@task,:description)%>
    <div class="mb-1">
    </div>
    <%if @task.new_record?%>
      <div class="mb-1 mt-3">
        <%= f.submit "Create", class: "btn btn-primary fs-4 w-100" %>
      </div>
    <%else%>
      <div class="mb-1 mt-3">
        <%= f.submit "Save", class: "btn btn-primary fs-4 w-100" %>
      </div>
    <%end%>
  <% end %>
</div>
