<div class="card text-center mt-4 bg-light">
  <div class="card-title mt-1">
    <%=@task.title%>
  </div>
  <div class="card-body">
    <%=@task.description%><br>
    Created by : <%=@task.user.email%>
    <div class="mt-5">
      <%if (@task.user == current_user && @task.created_at + 2.hours > Time.now) || current_user.role.admin?%>
        <%=link_to "Can edit until #{ time_before_edit(@task)}".html_safe, edit_task_path, class: "btn btn-outline-secondary"%>
      <%end%>
      <%if current_user.role.admin?%>
        <%=link_to "Delete task", task_path, class: "btn btn-outline-danger",
        data: { "turbo-method": :delete , turbo_confirm: "Delete task #{@task.title}?"}%>
      <%end%>
    </div>
  </div>
</div>
