<div class="card text-center mt-4 bg-light">
  <div class="card-title mt-1 fs-3">
    <%=@task.title%> - <%=render partial: "status", locals: {task: @task}%>
  </div>
  <div class="card-body">
    <div>
      <%=@task.description%>
    </div>
    Created by : <%=@task.user.email%>
    <%if (@task.user == current_user && @task.created_at + 2.hours > Time.now) && current_user.user?%>
      <div class="mt-5">
        <%=link_to "Can edit until #{ time_until_edit(@task)}".html_safe, edit_task_path, class: "btn btn-outline-secondary "%>
      </div>
    <%end%>
    <%if current_user.role.admin?%>
      <div class="mt-5">
        <%=link_to "Edit ".html_safe, edit_task_path, class: "btn btn-outline-secondary "%>
        <%=link_to "Delete task", task_path, class: "btn btn-outline-danger",
        data: { "turbo-method": :delete , turbo_confirm: "Delete task #{@task.title}?"}%>
      </div>
    <%end%>
  </div>
</div>
