<nav class="navbar sticky-top shadow navbar-expand-xxl navbar-light bg-light">
  <div class="container-fluid">
    <%=link_to "TodoApp", root_path, class: "navbar-brand fs-4"%>
    <%if current_user.present?%>
      <%=link_to " New task", new_task_path, class: "btn btn btn-outline-primary m-1 bi bi-plus-circle"%>
    <%end%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%if current_user.present?%>
          <ul class="navbar-nav ms-2 p-1 ">
            <%=link_to " All tasks", tasks_path, class: "btn btn-sm btn-outline-primary ms-1 bi bi-list-task"%>
            <%=sort_reverse_button%>
            <%=link_to " Todo task", tasks_path+"?status=todo", 
                                              class: "btn btn-sm btn-outline-info ms-1 bi bi-circle"%>
            <%=link_to " In progress task", tasks_path+"?status=inprogress", 
                                              class: "btn btn-sm btn-outline-info ms-1 bi bi-hourglass-split"%>
            <%=link_to " Done", tasks_path+"?status=done",
                                              class: "btn btn-sm btn-outline-info ms-1 bi bi-check-circle-fill"%>
          </ul>
          <%if current_user.admin?%>
            <%=form_with url: tasks_by_user_path, method: :get do |f|%>
              <div class="input-group p-1">
                <%= f.collection_select :user_id, User.order(:id), :id, :email, { promt: false, selected: params[:user_id] || current_user.id}, {class: "form-select form-select-sm"}  %>
                <%=f.button "Show", class: "btn btn-outline-secondary"%>
              </div>
            <%end%>
            <%=link_to " All users tasks", all_users_tasks_path, class: "btn btn-outline-secondary ms-1 bi bi-people"%>
            <%=link_to " All users ", users_path, class: "btn btn-outline-secondary ms-1 bi bi-people"%>
          <%end%>
        <%end%>
      </ul>
      <ul class="navbar-nav">
        <%=render partial: "layouts/login_links"%>
      </ul>
    </div>
  </div>
</nav>
